<div class="first">
  </div>
  <header id="header" class="">
  <div class="header-center">
     <div class="dropdowns in"><i class="fa fa-bars"></i></div>
     <div class ="menu out">
        <ul> 
        <li><a class="active" href="/">Trang chủ</a></li>
        <li><a class="lin" href="/">Giới thiệu</a></li>
        <li><a class="lin" href="/">Dịch vụ</a></li>
        <li><a class="lin" href="/info_page">Tin tức</a></li>
        <li><a class="lin" href="/guide_page">Hướng dẫn</a></li>
        <li><a class="lin" href="/">Liên hệ</a></li>
      </ul>
     </div>

    <div class="logo">
      <a href="/"><img src="vendor/images/logo.png"  alt=""></a>
    </div>
  <div>
  </header><!-- /header --> 