   <div class="login">
          <div class="login-title"><img class="xinchao" src="vendor/images/xinchao.png" alt=""><img class="hello"  src="vendor/images/hello.png" alt=""></div>
          <p><a style="color: red" id="id-account" data-id=" {{makh}}" href="/info_account">{{acc}} </a>|<a id="signout-btn" href="/logout">Đăng xuất</a>  </p>
          <p class="strong"><strong >Mã khách hàng: {{makh}} </strong></p>
          <p class="strong"><strong>Chủ TK: {{name}} </strong></p>
          <p class="strong"><strong>Ngày đăng ký: {{date|date("d/m/Y")}}</strong></p>
          <div class="status">
            <p><strong>Trạng thái: </strong>
             <a href="/active_email"><img src="vendor/images/email.png" alt=""></a>
            <img src="vendor/images/phonewarning.png" alt=""> {% if state==1 %} kích hoạt Email {% else %} Chưa kích hoạt {% endif %}</p>
          </div>
          <p>Lịch sử giao dịch</p>
          <p class="changepass">Quản lý tài khoản | <a href="" data-toggle="modal" data-target="#exampleModalCenter">Đổi mật khẩu</a> </p>
			{% include '@App/templates/modal.html.twig' %}	
 
        </div>