<div class="logout">
          <h1>Đăng nhập</h1>
          <form action="{{path('homepage')}}" method="post" accept-charset="utf-8">
            <div class="">
              <label>Tên đăng nhập</label>
              <span class="error">*   {%if error['account'] is defined %}{{error['account']}} {%endif%}</span><br>
              <input type="text" id="namesignin" name="account" {%if account is defined %} value="{{account}} " {%endif%} >
            
            </div>
            <div class="">
              <label>Mật khẩu </label> <span class="error">*   {%if error['password'] is defined %}{{error['password']}} {%endif%}</span><br>
              <input type="password" id="password" name="password" value="">
             
            </div>
            <div class="singin-btn">
              <p><a href="/forgetpass">Quên mật khẩu ? </a> <br><a href="/register">Đăng ký tài khoản </a>  </p>

              <button type="submit" id="signin" >Đăng nhập</button>
            </div>
            
          </form>
        </div>