 
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header changepass-header">
        <h5 class="modal-title " id="exampleModalCenterTitle">Đổi mật khẩu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body changepass-body">
          <form action="{{path('changepass')}}" method="post" accept-charset="utf-8" class="changepass">
            <div class="">
              <label>Nhập mật khẩu cũ : </label> <span class="error" id="notipassold" ></span><br>
              <input type="password" class="cpassold" name="passold" value="" >

            </div>
             <div class="">
              <label>Nhập mật khẩu mới : </label> <span class="error" id="notipassnew" ></span><br>
              <input type="password" class="cpassnew" name="passnew" value="">
            </div>
            <div class="">
              <label>Nhập lại mật khẩu mới:  </label> <span class="error" id="noticonfirmpass"></span><br>
              <input type="password" class="cconfirmpass" name="confirmpassnew" value="">
             
            </div>
            <br>
            <button type="submit"class="btn btn-changepass pull-right">Lưu</button>
          </form>
      </div>
      
    </div>
  </div>
</div>
