 <div class="right-bottom">
        <div class="right-bottom-left">
          <div class="hotline">
              <p>Hotline</p>
              <b><img src="vendor/images/phone.png" alt=""> 1-888-123-4567</b>
          </div>
          <div class="hotline">
             <p>Hỗ trợ khách hàng</p>
             <small>hotrochomchom.us</small>
          </div>
         
         
        </div><!-- /right-bottom-left -->
        <div class="right-bottom-right">
          <img src="vendor/images/hotline.png" alt="">
        </div><!-- /right-bottom-right-->
      

      
      </div><!-- /right-bottom -->