<!DOCTYPE html>
<html>
{% include '@App/templates/headtag.html.twig' %}
<body>
		<base href="{{ asset('bundles/app/')}}">
{% include '@App/templates/header.html.twig' %}	
  <div class="body">
 {% block left %} {% endblock %}


   
 <div class="right">
 	<div class="right-top">

 		{% if acc is defined %}
 		{% include '@App/templates/loginform.html.twig' %}	
 		{% else %}
 		{% include '@App/templates/logoutform.html.twig' %}	

 		{% endif %}


 	</div><!-- /right-top -->
 	{% include '@App/templates/rightbottom.html.twig' %}


 </div><!-- /right -->
      {% if advertise is defined %}
      {% block advertise %}
      {% endblock %}
      {% endif %}
 </div><!-- /body -->
  {% include '@App/templates/footer.html.twig' %}	
 {% include '@App/templates/scripttag.html.twig' %}	
</body>
</html>