 
<!-- Modal -->
<div class="modal fade" id="updateModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header changepass-header">
        <h5 class="modal-title " id="exampleModalCenterTitle">Cập nhật thông tin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <style type="text/css" media="screen">
        .info-update-body{

      }
      .info-row{
      display: flex;
    }
      .info-update-body{
      background-image: linear-gradient(to right, #fcdf97 , #fee199 );
    }
      .info-row input {
      border: #ffa200 solid 1px;
      outline: #f9e08800;
      width: 220px;
    }
      .update-body{
      width: 90%;
      margin:0 auto;
      }
      input.input-right {
      width: 160px;
    }
    textarea {
      width: 385px;
      padding-left: 10px;
    }
    input.form-check-input {
      margin: 6px;
      width: 17px;
      outline: #f9e08800;
  }
  #gt-error{
  font-size: 13px;

}

      </style>
      <div class="modal-body info-update-body">
          <form action="{{path('update_info')}}" method="post" accept-charset="utf-8"  enctype="multipart/form-data" class="update-body">
             <div class="info-row">
              <div class="">
              <label>Họ tên : </label> <span class="error"  ></span><br>
              <input type="text" class="" name="hoten" value="{{user.name}}" >

            </div>
             <div class="">
              <label>Ngày sinh : </label> <span class="error" ></span><br>
              <input type="date" class="input-right" name="ngaysinh" value="{{user.birthday|date('Y-m-d')}}">
            </div>
             </div>
             <div class="info-row">
            
             <div class="">
              <label>Địa chỉ : </label> <span class="error" id="" ></span><br>
              <input type="text" class="" name="diachi" value="{{user.address}}" >
          </div>
           <div class="">
              <label>Số điện thoại : </label> <span class="error" id="" ></span><br>
              <input type="text"  class="input-right" name="sdt" value="{{user.phonenumber}}" >

            </div>
              </div>
          <div class="info-gender" >
          <label for="inputState">Giới tính</label>

          <br>
         <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" value="Nam" id="materialInline1" name="gioitinh"  {% if user.gender == 'Nam'%}checked {%endif%}>
            <label class="form-check-label" for="materialInline1">Nam</label>
          </div>

          <!-- Material inline 2 -->
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="materialInline2" value="Nữ" name="gioitinh"  {% if user.gender == 'Nữ'%}checked {%endif%}>
            <label class="form-check-label" for="materialInline2">Nữ</label>
          </div>

          <!-- Material inline 3 -->
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="materialInline3" value="Khác" name="gioitinh"  {% if user.gender == 'Khác'%}checked {%endif%}>
            <label class="form-check-label" for="materialInline3">Khác</label>
          </div>
            
          </div>
          <<label> Avatar :<input type="file" name="anh" value=""></label>

            <div class="" >
              <label>Giới thiệu : </label> 
              <small class="error" id="gt-error" ></small>
              <br>
               <br>
              <textarea name="gioithieu" id='gioithieu' >{{user.describe}}</textarea> 
            </div>
          
            <br>
            <button type="submit"class="btn btn-changepass pull-right">Lưu</button>
          </form>
      </div>
      
    </div>
  </div>
</div>
