<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>admin đăng nhập</title>


	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<base href="{{ asset('bundles/app/')}}">
	{% include '@App/admin_templates/linktag.html.twig' %}
	

  	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->


</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>Admin</b>Chôm Chôm</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg"></p>

    <form action="{{path('admin')}}" method="post">
      <div class="form-group has-feedback">  
      
        <input type="text" class="form-control" placeholder="Tài khoản" name='acc_admin' {% if acc is defined %} value={{acc}} {% endif %}>
      	<span class="error">{% if errors['acc'] is defined %} {{ errors['acc']}} {% endif %}</span>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
      	
        <input type="password" class="form-control" placeholder="Mật khẩu" name='pass_admin'>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <span class="error">{% if errors['pass'] is defined %} {{ errors['pass']}} {% endif %}</span>
      </div>
      <div class="row">
        <div class="col-xs-8">
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Đăng nhập</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

  </div>
  <!-- /.login-box-body -->
</div>
	

  {% include '@App/admin_templates/scripttag.html.twig' %}
  
 
</body>
</html>
