{% extends '@App/admin_templates/template.html.twig'%}

{% block title %} admin {% endblock %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header" >
      <h1>
        Danh sách khách hàng
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Danh sách khách hàng</li>
      
      </ol>
     
 
    </section>
     <!-- Main content -->
    <section class="content "  style="position: relative;">
      <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title"></h3>
                
                  <div class="box-tools ">
            
                    <div class="input-group input-group-sm" style="width: 35%;
              margin-left: 5%">

                      
                      <input type="text" name="search" class="form-control pull-right" id="search" placeholder="Tìm kiếm khách hàng">

                      <div class="input-group-btn">
                        <button type="submit" id="btnsearch" {% if page is defined %} label={{page}} {% else %} label="" {% endif %} class="btn btn-default"><i class="fa fa-search"  ></i></button>
                      </div>

                    </div>
                    <div class="overlay" style="display: none;">
                      <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    
                  </div>
                 
                </div>
                <!-- /.box-header -->
              {% include '@App/admin_templates/list_user.html.twig' %}
      <div class="box box-primary box-solid "id='notifybody'>
                          <div class="box-header with-border">
                            <h3 class="box-title">Thông báo</h3>

                            <div class="box-tools pull-right">
                              <button type="button" class="btn btn-box-tool" id="closeNoty"><i class="fa fa-times"></i></button>
                            </div>
                            <!-- /.box-tools -->
                          </div>
                          <!-- /.box-header -->
                          <div class="box-body" >

                            <h5 id="mess"></h5>
                          </div>
                          <!-- /.box-body -->
                </div>
  
   
  {% endblock %}
  
  {% block notify %}

    <div class="box box-primary box-solid " id="myNoti">
                          <div class="box-header with-border">
                            <h3 class="box-title">Thông báo</h3>

                            <div class="box-tools pull-right">
                              <button type="button" class="btn btn-box-tool btnNoti"  ><i class="fa fa-times"></i></button>
                            </div>
                            <!-- /.box-tools -->
                          </div>
                          <!-- /.box-header -->
                          <div class="box-body" >
                            <h5 data-id="">{{notify}}</h5>
                          </div>
                          <!-- /.box-body -->
  </div>

        
    {% endblock %}

    {% block leftslidebar %}
    <ul class="sidebar-menu" data-widget="tree">
          <li class="header"></li>
          <li class="active treeview">
            <a href="#">
              <i class="fa fa-dashboard"></i> <span>Quản lý trang web</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li  class="active"><a href="/admin"><i class="fa fa-circle-o"></i> Quản lý khách hàng</a></li>
              
               <li class="treeview">
                  <a href="/admin">
                    <i class="fa fa-circle-o"></i>
                    <span> Quản lý bài viết</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="/admin/posts"><i class="fa fa-circle-o"></i> Danh sách bài viết</a></li>
                    <li><a href="/admin/post_add"><i class="fa fa-circle-o"></i> Thêm bài viết</a></li>
                  
                  </ul>
                </li>
                 
             
            </ul>
          </li>
        </ul>

   {% endblock %}
