{% extends '@App/admin_templates/template.html.twig'%}

{% block title %} Sửa bài viết {% endblock %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header" >
      <h1>
       Sửa bài viết
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li><li class="active">Damh sách bài viết</li>
        <li class="active">Sửa bài viết</li>
      
      </ol>
     

    </section>
     <!-- Main content -->
    <section class="content "  style="position: relative;">
      <!-- Small boxes (Stat box) -->
        <div class="row">
        <form action="{{ path('post_edit',{'id':post.id })}}" method="post" accept-charset="utf-8"  enctype="multipart/form-data"> 
      <div class="box box-primary box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Thông tin bài viết</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
         
          <div class="form-group col-md-6">
             <label for="inputAddress">Loại bài viết </label><span class="error" >*</span>
            <select name="muc" readonly  class="form-control"  >
           {% if items is defined %}
           {% for item in items %}
          <option  {% if post.itemid==item.id %} selected  value="{{item.id}}">{{item.itemName}} {% else %}  value="{{item.id}}">{{item.itemName}}  {% endif %}   </option>
           {%endfor%} 
           {%endif%}
            </select>
          </div>

        
        <div class="form-group col-md-6">
          <label for="inputAddress">Tiêu đề </label><span class="error" >* {% if errors['tieude'] is defined %} {{errors['tieude']}} {% endif %}</span>
          <input type="text" class="form-control" name="tieude" id="tieude" placeholder="" {%if post is defined %} value="{{post.title}}" {%endif%} >
        </div>
        
        <div class="form-group col-md-12">
          <label for="inputAddress">Mô tả</label><span class="error" >* {% if errors['mota'] is defined %} {{errors['mota']}} {% endif %}</span>
          <textarea type="text" class="form-control" name="mota" id="mota" placeholder="" >{%if post is defined %} {{post.describe}} {%endif%} </textarea>

        </div>

           <div class="form-group col-md-12">
            <label for="inputAddress">Nội dung</label><span class="error" >* {% if errors['noidung'] is defined %} {{errors['noidung']}} {% endif %}</span>
         <div class="box-body pad">
              <div>
                    <textarea id="editor1" name="editor1" rows="10" cols="80">
                           {{post.content|raw}}               
                    </textarea>
              </div>
            </div>
          </div>
       
    </div>
  </div>
  <!-- /.box-body -->
<a  class="btn btn-info back" href="/admin/posts"> Trở về</a> 
<button type="submit" id="submit" value="submit" class="btn btn-success save">Lưu</button>
</form>
 </div><!-- row -->
   
  {% endblock %}
  
  {% block notify %}

    <div class="box box-primary box-solid " id="myNoti">
                          <div class="box-header with-border">
                            <h3 class="box-title">Thông báo</h3>

                            <div class="box-tools pull-right">
                              <button type="button" class="btn btn-box-tool btnNoti"  ><i class="fa fa-times"></i></button>
                            </div>
                            <!-- /.box-tools -->
                          </div>
                          <!-- /.box-header -->
                          <div class="box-body" >
                            <h5 data-id="">{{notify}}</h5>
                          </div>
                          <!-- /.box-body -->
  </div>

        
    {% endblock %}
      {% block leftslidebar %}
    <ul class="sidebar-menu" data-widget="tree">
          <li class="header"></li>
          <li class="active treeview">
            <a href="#">
              <i class="fa fa-dashboard"></i> <span>Quản lý trang web</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li ><a href="/admin"><i class="fa fa-circle-o"></i> Quản lý khách hàng</a></li>
              
               <li class="treeview">
                  <a href="/admin">
                    <i class="fa fa-circle-o"></i>
                    <span> Quản lý bài viết</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li class="active"><a href="/admin/posts"><i class="fa fa-circle-o"></i> Danh sách bài viết</a></li>
                    <li ><a href="/admin/post_add"><i class="fa fa-circle-o"></i> Thêm bài viết</a></li>
                  
                  </ul>
                </li>
                 
             
            </ul>
          </li>
        </ul>

   {% endblock %}


