{% extends '@App/templates/template.html.twig'%}
 {% block left %}
 <div class="left">

       <form action="{{path('forgetpass')}}" method="post" accept-charset="utf-8" class="register">
          <h1>Quên mật khẩu</h1>
           <div class="register-row">
                <div class="register-col">
                  <label>Tên chủ tài khoản</label>
                   <span class="error">*   {%if errors['name'] is defined %}{{errors['name']}} {%endif%}</span>
                  <br>
                  <input type="text" id="namesignin" name="name"{%if name is defined %} value="{{name}}"  {%endif%}>
                 
                </div>
                <div class="register-col">
                   <label>Tên đăng nhập</label>
                    <span class="error">*   {%if erracc is defined %}{{erracc}} {%endif%}</span><br>
                  <input type="text" id="account" name="accountt" {%if accountt is defined %} value="{{accountt}}"  {%endif%} onkeyup="showHint(this.value)" >
                   
                  <span class="error" id="txtHint"> </span>
                 
                </div>
             </div>

               <div class="register-row">
                <div class="register-col">
                  <label>Mật khẩu </label> <span class="error"  id="notipassnew" >*   {%if errors['password'] is defined %}{{errors['password']}} {%endif%}</span><br>
                  <input type="password"  class="cpassnew" id="password" name="passnew"{%if user is defined %} value="{{user.password}}"  {%endif%} > 
                </div>
                 
                 <div class="register-col">
                  <label>Nhập lại mật khẩu </label> <span class="error" id="noticonfirmpass">*   {%if errors['confirmpassword'] is defined %}{{errors['confirmpassword']}} {%endif%}</span><br>
                  <input type="password" id="password" class="cconfirmpass" name="confirmpassnew" >
                
                </div>
            </div>

             <div class="register-row">
                <div class="register-col">
                  <label>Email</label> <span class="error">*   {%if errors['email'] is defined %}{{errors['email']}} {%endif%}</span><br>
                  <input type="email" id="namesignin" name="email" {%if email is defined %} value="{{email}}"  {%endif%}>
                </div>
                <div class="register-col">
                  <label>Nhập mã bảo vệ </label> <span class="error">*   {%if errors['captcha'] is defined %}{{errors['captcha']}} {%endif%}</span><br>
                  <div class="block-captcha">
                    <div class="item-captcha">
                      <input name="captcha" id="input-captcha" type="text"> 
                    </div>
                     <div class="item-captcha">
                      <img src="{{path('captcha')}}" id="captcha" />
                      
                    </div>
                 
                   
                 </div>
                </div>
            </div>
       
                <div class="singin-btn " >
                  
                  <button type="submit" id="register-btn" class="" >Đăng nhập</button>
                </div>
      
      </form>
    

    </div><!-- /left-register -->
 {% endblock %}
