{% extends '@App/templates/template.html.twig'%}
 {% block left %}
 
    <div class="left">
      <div class="left-top">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="vendor/images/mobipet.png" class="d-block " alt="...">
            </div>
            <div class="carousel-item">
              <img src="vendor/images/mobipet.png" class="d-block  alt="...">
            </div>
            <div class="carousel-item">
              <img src="vendor/images/mobipet.png" class="d-block " alt="...">
            </div>
          </div>
        </div>
      </div><!-- /left-top -->
    
      {% block advertise %}
       {% if advertise is defined%}
      <div class="alert alert-danger alert-dismissible fade show notipass">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong  data-id=""> {{advertise}}</strong>
      </div>
      {% endif %}
      {% endblock %}


      <div class="left-bottom">
        <div class="left-bottom-left">
          <div class="title-games">
            <img src="vendor/images/game.png" alt="">
            <p>Games</p>
          </div>
          <div class="body-games">
            <div class="items-game">
              <div class="game">
                <img src="vendor/images/tinipet.png" alt="">
                <p>Mobipet</p>
              </div>
               <div class="game">
                <img src="vendor/images/vuatamquoc.png" class="tamquoc" alt="">
                <p>Vua tam quốc </p>
              </div>
              
            </div>
            
            <div class="items-game">
              <div class="game">
                <img src="vendor/images/tranhhung.png" alt="">
                <p>Tranh hùng</p>
              </div>
              <div class="game">
                <img src="vendor/images/bmvdr.png" alt="" style=" height: 47px;">
                <p>Bí mật vùng đất Rồng</p>
              </div>
             
            </div>
            
          </div>
        
        
          </div><!-- /left-bottom-left -->
          <div class="left-bottom-right">
            <div class="info">
              <div class="info-title">
                <p>Tin tức</p>
              </div>
              <div class="info-content">
                <p>Thông báo bảo trì định kỳ </p>
                <p>Bảo trì thẻ Mobiphone (22h30' 26/9 - 05h 27/9)</p>
                <p>Bảo trì hệ thống nạp tiền đối vơi thẻ Mobiphone</p>
              </div>
              
            </div>
            <div class="info">
              <div class="info-title">
                <p>Hướng dẫn</p>
              </div>
              <div class="info-content">
                <p>Hướng dẫn đăng ký tài khoản</p>
                <p>Hướng dẫn nạp thẻ trên chomchom</p>
                <p>Làm thế nào để chơi game</p>
                
              
              </div>
              
            </div>
        
        </div><!-- /left-bottom-right -->
        
      </div><!-- /left-bottom -->
      
    </div><!-- /left -->
{% endblock %}
 