{% extends '@App/templates/template.html.twig'%}
 {% block left %}
    <div class="left">
      <style type="text/css" media="screen">
        
        .info-page {
          width: 640px;
          background-image: linear-gradient(to bottom,#fff6e9, #faebd7 ,#fff6e98c);
          padding: 20px;
          font-size: 13px;
          height: auto;
          color: #444443;
      }
      i.fa.fa-forward {
          font-size: 10px;
          margin-right: 10px;
      }
      li {
          color: chocolate;
          font-size: 18px;
          margin-bottom: 10px;
      }
      h5 {
        color: #0058ffd9;
        text-align: center;
        font-size: 16px;
    }
      </style>
     <div class="info-page">
      <li>{{item}}</li>
     <h5>{{post.title}}</h5>
    
      <div class="box-body"  >
          {{post.content|raw()}}
         
      </div>
    </div>

    </div><!-- /left-register -->
{% endblock %}
  