

{% extends '@App/admin_templates/template.html.twig'%}

{% block title %} Thông tin khách hàng {% endblock %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
 
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Thông tin khách hàng
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Thông tin khách hàng</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
      <!-- Small boxes (Stat box) -->
     
        <div class="row">
                <div class="col-md-3">
        
                  <!-- Profile Image -->
                  <div class="box box-primary">
                     <div class="box-body box-profile">
                      <img class="profile-user-img img-responsive img-circle"  src="../../userfiles/{{user.avatar}}" alt="User profile picture">
        
                      <h3 class="profile-username text-center">{{user.account}}</h3>
                        
        
                    </div>
                
                    
                    </div>
                  <!-- /.box -->
        
                  <!-- About Me Box -->
                  <div class="box box-primary">
                      <div class="box-header with-border">
                          <strong class="box-title">Thông tin đăng ký</strong>
                      <div class="box-tools pull-right">
                     
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                          </button>
                        </div>
                      </div>
                    
                    <!-- /.box-header -->
                    <div class="box-body" id="thongtinchung">
                        <p class="text-muted margin-r-5"><strong>Ngày đăng ký :  </strong> </p>
                        <hr>
                        <p class="text-muted margin-r-5 "><strong>Trạng thái : </strong></p>
                        <hr>
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                  <div class="box box-primary">
                    <div class="box-header">
                    </div>
                    <div class="box-body">
                        <p class="text-muted margin-r-5"><strong>Mã khách hàng : </strong> {{user.makh}}</p>
                        <hr>
                        <p class="text-muted margin-r-5 "><strong>Tên khách hàng : </strong> {{user.name}}</p>
                        <hr>
                        <p class="text-muted margin-r-5"><strong>Giới tính: </strong> {{user.gender}} </p>
                        <hr>
                        <p class="text-muted margin-r-5 "><strong>Ngày sinh  : </strong> {{user.birthday|date('d-M-Y')}}</p>
                        <hr>
                        <p class="text-muted margin-r-5"><strong>Số đện thoại : </strong> {{user.phonenumber}} </p>
                        <hr>
                        <p class="text-muted margin-r-5 "><strong>Địa chỉ : </strong> {{user.address}}</p>
                        <hr>
                       
                    </div>
                  </div>
                  <!-- /.nav-tabs-custom -->
                </div>
                <a  class="btn btn-primary back_primary" href="/admin"> Trở về</a>
                <!-- /.col -->
              </div>
              <!-- /.row -->      
     
    </section>

</div>
<!-- /.content-wrapper -->
{% endblock %}
  
  {% block notify %}

    <div class="box box-primary box-solid " id="myNoti">
                          <div class="box-header with-border">
                            <h3 class="box-title">Thông báo</h3>

                            <div class="box-tools pull-right">
                              <button type="button" class="btn btn-box-tool btnNoti"  ><i class="fa fa-times"></i></button>
                            </div>
                            <!-- /.box-tools -->
                          </div>
                          <!-- /.box-header -->
                          <div class="box-body" >
                            <h5 data-id="">{{notify}}</h5>
                          </div>
                          <!-- /.box-body -->
  </div>

        
    {% endblock %}


    {% block leftslidebar %}
    <ul class="sidebar-menu" data-widget="tree">
          <li class="header"></li>
          <li class="active treeview">
            <a href="#">
              <i class="fa fa-dashboard"></i> <span>Quản lý trang web</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li class="active"><a href="/admin"><i class="fa fa-circle-o"></i> Quản lý khách hàng</a></li>
              
               <li class="treeview">
                  <a href="/admin">
                    <i class="fa fa-circle-o"></i>
                    <span> Quản lý bài viết</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="/admin/posts"><i class="fa fa-circle-o"></i> Danh sách bài viết</a></li>
                    <li ><a href="/admin/post_add"><i class="fa fa-circle-o"></i> Thêm bài viết</a></li>
                  
                  </ul>
                </li>
                 
             
            </ul>
          </li>
        </ul>

   {% endblock %}
