 

{% extends '@App/admin_templates/template.html.twig'%}

{% block title %} Thông tin khách hàng {% endblock %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
 
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Thông tin bài viết
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li><li>Danh sách bài viết</li>
      <li class="active">Thông tin bài viết</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
      <!-- Small boxes (Stat box) -->
     
        <div class="row">
                
            
                  <div class="box box-primary">
                    <h2 style="margin-left: 100px"> <li><a>{{item}}</a></li></h2>
                    <div class="box-header" style="text-align: center;">

                      <h4>{{post.title}}</h4>
                    </div>
                    <div class="box-body" style="margin: auto; width: 90%" >
                        {{post.content|raw()}}
                       
                    </div>
                  </div>
                  <!-- /.nav-tabs-custom -->
         
                <a  class="btn btn-primary back_primary" href="/admin/posts"> Trở về</a>
                <!-- /.col -->
              </div>
              <!-- /.row -->      
     
    </section>

</div>
<!-- /.content-wrapper -->
{% endblock %}
  
  {% block notify %}

    <div class="box box-primary box-solid " id="myNoti">
                          <div class="box-header with-border">
                            <h3 class="box-title">Thông báo</h3>

                            <div class="box-tools pull-right">
                              <button type="button" class="btn btn-box-tool btnNoti"  ><i class="fa fa-times"></i></button>
                            </div>
                            <!-- /.box-tools -->
                          </div>
                          <!-- /.box-header -->
                          <div class="box-body" >
                            <h5 data-id="">{{notify}}</h5>
                          </div>
                          <!-- /.box-body -->
  </div>

        
    {% endblock %}


{% block leftslidebar %}
<ul class="sidebar-menu" data-widget="tree">
          <li class="header"></li>
          <li class="active treeview">
            <a href="#">
              <i class="fa fa-dashboard"></i> <span>Quản lý trang web</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="/admin"><i class="fa fa-circle-o"></i> Quản lý khách hàng</a></li>
              
               <li class="treeview">
                  <a href="/admin">
                    <i class="fa fa-circle-o"></i>
                    <span> Quản lý bài viết</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li  class="active"><a href="/admin/posts"><i class="fa fa-circle-o"></i> Danh sách bài viết</a></li>
                    <li><a href="/admin/post_add"><i class="fa fa-circle-o"></i> Thêm bài viết</a></li>
                  
                  </ul>
                </li>
                 
             
            </ul>
          </li>
        </ul>
{% endblock %}
