{% extends '@App/templates/template.html.twig'%}
 {% block left %}
    <div class="left">
    	<style type="text/css" media="screen">

    		.info-page {
			    width: 640px;
			    background-image: linear-gradient(to bottom,#fff6e9, #faebd7 ,#fff6e98c);
			    padding: 20px;
			    font-size: 13px;
			    height: auto;
			    color: #444443;
			}
			i.fa.fa-forward {
			    font-size: 10px;
			    margin-right: 10px;
			}
			li {
			    color: chocolate;
			    font-size: 18px;
			    margin-bottom: 10px;
			}
    	</style>
     <div class="info-page">
     	<li>Tin tức</li>
     	{% for post in info_pagi %}
     	<div class="info-page-item">
     		<a href="/info_sufficient/{{post.id}}"> <i class="fa fa-forward"></i>{{post.title}}</a>
     	    <p>{{post.describe|slice(0,200)|raw}}...</p>

     	</div>
     	
  {% endfor %}

    </div>
     {% if info_pagi is defined %}
                  {% if info_pagi.haveToPaginate %}
                  
                  <div class="box-footer clearfix">
                      <ul class="pagination pagination-sm no-margin pull-right">
                        {% for value in info_pagi.links(5)%}
                          <li><a href="{{path('/info_page')}}?page={{value}}" {% if page is defined %}  {% if page==value %} 
                            style="border-color: cornflowerblue;" {% endif %}  {% else %}
                            {% if value==1 %} 
                              style="border-color: cornflowerblue;"{% endif %} {% endif %}>{{value}}</a></li>
                        {%endfor%}
                      </ul>
                    </div>
                  
                  {%endif%}
      {%endif%}

    </div><!-- /left-register -->
{% endblock %}
  