{% extends '@App/templates/template.html.twig'%}
 {% block left %}
    <div class="left">
      <style type="text/css" media="screen">
        .block-info{
          width: 640px;
          background-image: linear-gradient(to bottom, #f9e088 , #f7cd71, #f4b858 );
          height: 370px;
          border-radius: 5px;
          padding-top: 20px;
          padding-left: 30px;
          display: flex;
        }
        .info-left{
          width: 150px;
        }
        .info-right{
          width: 400px;
        }
        .img-account{
          width: 90px;
          height: 90px;
          border-radius: 50%;
          margin-bottom: 10px;
        }
        .title-left {
            width: 150px;
            height: 150px;
            border: #ea821a solid 3px;
            text-align: center;
            padding-top: 10px;
        }
         .title-left span {
            font-size: 15px;
            color: red;
        }
        .info-account{
          width: 350px;
          margin:0 auto;
        }
        .info-account p{
          color: #444443;
          margin: 7px;
          font-size: 14px;
          font-family: 'Volkhov', serif;

        }
        .info-account h5 {
          text-align: center;
          font-family: 'Volkhov', serif;
        }
        .body-left{
           font-size: 14px;
          font-family: 'Volkhov', serif;

        }
      </style>

      <div class="block-info">
        <div class="info-left">
          <div class="title-left">
            {% if user.avatar != ''%}
            <img class="img-account" src="../../userfiles/{{user.avatar}}">
            {% else %}
             <img class="img-account" src="../../userfiles/default.png">
             {% endif %}
           <div><span>{{user.account}}</span>
           </div>
          </div>
          <br>
          <div class="body-left">
            <br>
                       <label>Thông tin đã cập nhật</label>
                       <br>
                       <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: {{percent}}%;" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100">{{percent}}%</div>
                        </div>
                         <br>
           
                        <a href="" data-toggle="modal" data-target="#updateModalCenter">Cập nhật</a>
                        {% include '@App/templates/update_info.html.twig' %}  
          </div>
            
        </div>
        <div class="info-right">
          <div class="info-account">
            <h5>Thông tin cá nhân</h5>
            <p><strong>Email :</strong>{{user.email}}</p>
            <p><strong>Giới tính :</strong>{{user.gender}}</p>
            <p><strong>Ngày sinh :</strong>{{user.birthday|date('d-M-Y')}}</p>
            <p><strong>Địa chỉ :</strong>{{user.address}}</p>
            <p><strong>Số điện thoại :</strong>{{user.phonenumber}}</p>
            <p style="">
            <strong>Giới thiệu :</strong>{{user.describe|slice(0,230)|raw}}</p>
          </div>
          
      
        </div>
      </div>
    
  {% block advertise %}
       {% if advertise is defined%}
      <div class="alert alert-danger alert-dismissible fade show notipass">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong  data-id=""> {{advertise}}</strong>
      </div>
      {% endif %}
      {% endblock %}
    </div><!-- /left-register -->
{% endblock %}

