{% extends '@App/templates/template.html.twig'%}
 {% block left %}
    <div class="left">

       <form action="{{path('user_register')}}" method="post" accept-charset="utf-8" class="register">
          <h1>Đăng ký</h1>    
          <div class='form-register'>
           
              
                <div class="">
                   <label>Tên đăng nhập</label>
                    <span class="error" id="txtHint">*   {%if errors['account'] is defined %}{{errors['account']}} {%endif%}</span><br>
                  <input type="text" id="account" name="account" {%if user is defined %} value="{{user.account}}"  {%endif%} onkeyup="showHint(this.value)" >
                </div>
                <div class="">
                  <label>Email</label> <span class="error">*   {%if errors['email'] is defined %}{{errors['email']}} {%endif%}</span><br>
                  <input type="email" id="namesignin" name="email" {%if user is defined %} value="{{user.email}}"  {%endif%}>
                </div>
             
             

              <div class="register-row">
                <div class="register-col">
                  <label>Mật khẩu </label> <span class="error"  id="notipassnew" >*   {%if errors['password'] is defined %}{{errors['password']}} {%endif%}</span><br>
                  <input type="password"  class="cpassnew" id="password" name="passnew"{%if user is defined %} value="{{user.password}}"  {%endif%} > 
                </div>
                 
                 <div class="register-col">
                  <label>Nhập lại mật khẩu </label> <span class="error" id="noticonfirmpass">*   {%if errors['confirmpassword'] is defined %}{{errors['confirmpassword']}} {%endif%}</span><br>
                  <input type="password" id="password" class="cconfirmpass" name="confirmpassnew" >
                
                </div>
            </div>

          </div>
           
                <div class="singin-btn">
                  
                  <button type="submit" id="register-btn" class="" >Đăng ký</button>
                </div>
           
      </form>
    

    </div><!-- /left-register -->
{% endblock %}
  