 <ul class="sidebar-menu" data-widget="tree">
          <li class="header"></li>
          <li class="active treeview">
            <a href="#">
              <i class="fa fa-dashboard"></i> <span>Quản lý trang web</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li class="active"><a href="/admin"><i class="fa fa-circle-o"></i> Quản lý khách hàng</a></li>
              
               <li class="treeview">
                  <a href="/admin">
                    <i class="fa fa-circle-o"></i>
                    <span> Quản lý bài viết</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="/admin/posts"><i class="fa fa-circle-o"></i> Danh sách bài viết</a></li>
                    <li><a href="/admin/post_add"><i class="fa fa-circle-o"></i> Thêm bài viết</a></li>
                  
                  </ul>
                </li>
                 
             
            </ul>
          </li>
        </ul>
