<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %} {% endblock %}</title>


	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<base href="{{ asset('bundles/app/')}}">
	{% include '@App/admin_templates/linktag.html.twig' %}
	

  	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->


</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<header class="main-header">
			<!-- Logo -->
			
			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
					<span class="sr-only">Toggle navigation</span>
				</a>

				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						
						<!-- User Account: style can be found in dropdown.less -->
						<li class="dropdown user user-menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<img  src="../../userfiles/default.png"  class="user-image" alt="User Image">
								{%if acc_admin is defined %} <span class="hidden-xs">{{acc_admin}}</span>{% endif %}
							</a>
							
						</li>
						<!-- Control Sidebar Toggle Button -->
						<li>
							<a href="/logout_admin" ><i class="fa fa-sign-out" style="font-size: 18px;"></i></a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				<!-- Sidebar user panel -->
				<div class="user-panel">
					<div class="pull-left image">
						<img  src="../../userfiles/default.png"  class="img-circle" alt="User Image">
					</div>
					<div class="pull-left info">
					 {%if acc_admin is defined %}	<p>{{acc_admin}}</p>{% endif %}
						<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
					</div>
				</div>
         {% block leftslidebar %}
  
   {% endblock %}

      </section>
      <!-- /.sidebar -->
    </aside>





			</section>
			<!-- /.sidebar -->
		</aside>

		{% block content %} {% endblock %}
			
		{% if notify is defined %}
        	{% block notify %}{% endblock %}
		{% endif %}
	<!-- Control Sidebar -->

	<!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  	immediately after the control sidebar -->


  	<div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->

  {% include '@App/admin_templates/scripttag.html.twig' %}
  
 
</body>
</html>
